{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h1>Check out all the cars in this app</h1>
        <p>Feel free to comment on cars you like on the page</p>
        <img src="https://www.denofgeek.com/wp-content/uploads/2017/07/cars_main.jpg?fit=763%2C450">
    </div>
{% endblock %}